*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 15px;
    font-family: Google Sans,arial,sans-serif;
}

li{
    list-style: none;
    display: inline;
}

a{
    text-decoration: none;
}

/*some utilities */

.img-rounded{
    border-radius: 50%;
    object-fit:cover;
}

.f-arial{
    font-family: Arial;
}

.d-none{
    display: none;
}



.d-block{
    display: block;
}
.d-flex{
    display: flex;
    align-items: center;
}

.inline-flex{
    display: inline-flex;
    flex-wrap:nowrap
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-end{
    justify-content: flex-end;
}

.shadow{
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

.fz-20{
    font-size: 20px;
}

.fz-30{
    font-size: 30px;
}

.fz-40{
   font-size: 40px;
}

.fw-700{
    font-weight: 700;
}

.fw-600{
    font-weight: 600;
}

.fz-13{
    font-size:13px;
}
.fz-14{
    font-size:14px;
}

.fz-15{
    font-size:15px;
}

.fz-10{
    font-size: 10px;
}

.active{
    color:#1A73E8;
    border-bottom: 3.5px solid #1A73E8;
}

.bg-gray{
    background-color: #F2F2F2;
}

.bg-none{
    background: transparent;
    outline: none;
    border: none;
}

.w-25{
    width: 25%;
}

.w-50{
    width: 50%;
}

.w-100{
    width: 100%;
}

.w-60{
    width: 60%;
}
.w-40{
    width: 40%;
}

.h-25{
    height: 50%;
}

.mx-1{
    margin: 0 10px;
}

.mx-2{
    margin: 0 20px;
}

.me-5px{
    margin-right: .5rem;
}

.me-1{
    margin-right: 1rem;
}

.me-2{
    margin-right: 2rem;
}

.mb-2{
   margin-bottom: 20px;
}
.mb-1{
    margin-bottom: 10px;
 }

.ms-1{
    margin-left: 1rem;
}

.ms-6{
    margin-left: 6rem;
}

.ms-12{
    margin-left: 12rem
}

.mt-1{
    margin-top: 1rem;
}
.mt-3{
    margin-top: 3rem;
}

.mt-2{
    margin-top: 2rem;
}

.mt-5{
    margin-top:5rem;
}

.pt-1{
    padding-top: 1rem;
}
.ps-1{
    padding-left: 1rem;
}

.p-small-1{
    padding: 2px 8px;
}
.py-1{
    padding: 10px 0;
}
.py-2{
    padding: 20px 0;
}
.pb-1{
    padding-bottom: .5rem;
}

.pb-2{
    padding-bottom: 20px;
}

.pe-1{
    padding-right: 10px;
}

.px-1{
    padding: 0 10px;
}

.px-2{
    padding: 0 20px;
}

.text-align-center{
    text-align: center;
}

.text-gray{
    color:#70757a
}

.text-black{
    color:#000;
}

.text-skyblue{
    color: #4285f4
}

.text-red{
    color: #EA4335;
}

.text-yellow{
    color: #FBBC05;
}

.text-green{
    color: #3CAB5A;
}

.text-blue{
    color:#1a0dab;
}

.text-blue:hover{
    text-decoration: underline
}


.lead{
    font-weight: 300;
}

.italic{
    font-style: italic;
}

.line-height-stretch{
    line-height: 1.58;
}

.border-start{
    border-left: 1px solid #dadce0;
}


.border-bottom{
    border-bottom: 1px solid #dadce0;
}

.border-end{
    border-right: 1px solid #dadce0;
}

.l-spacing-75{
    letter-spacing: .75;
}

.border{
    border: 1px solid #EBEBEB;
    border-radius: 2px;
}

.transX-20{
    transform: translateX(20%);
}

.transX-25{
    transform: translateX(25%);
}

.f-grow-1{
    flex-grow: 1;
}

.position-absolute{
    position: absolute;
}

.foot{
    left: 0;
    right: 0;
    bottom: 0;
}

nav .link a{
    margin: 0 .4em;
}

header svg{
   margin: 0 5px;
}

main{
    color:#70757a;
    flex-direction: column;
}

 .search-bar{
    margin: 1.5em 0;
    width: 720px;
    height: 46px;
    border-radius: 24px;  
}

.search-bar-accueil{
    margin: 1.5em 0;
    width: auto;
    width: 638px;
    max-width: 584px;
    height: 44px;
    border-radius: 24px; 
}

.search-bar-accueil input{
    width: 400px;
    height:34px;
    border: none !important;
    outline: none !important;
    align-self: center;
}



.search-bar:hover, .search-bar-accueil:hover{
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

.search-bar input{
    width: 487px;
    height:34px;
    border: none !important;
    outline: none !important;
    align-self: center;
}

button{
    background: #f8f9fa;
    color: #3c4043;
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    cursor: pointer;
    font-size: 14px;
}

main button:hover{
    border: 1px solid #DFE1E5;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}



@media screen and (max-width:1200px){
    .ms-12{
        margin-left: 2em;
    }
}

@media screen  and (max-width:768px){
    .d-md-none{
        display:none;
    }
}

@media screen and (max-width:576px){
    h1{
        line-height:1;
    }

    .bg-white{
        background: #fff;
    }
   
    .search-bar{
        margin: 1.5em 0;
        width: auto;
        height: 35px;
        border-radius: 24px;
        
    }
    .search-bar input{
        width: 60%;
        height:24px;
        border: none !important;
        outline: none !important;
        align-self: center;
    }
    
    .d-sm-inline{
        display:inline
    }
    .d-sm-block{
        display: block;
    }
    .d-sm-none{
        display: none;
    }

    header svg{
        display: none;
    }

    .border-bottom{
        border-bottom: none;
    }
    
    .w-50{
        width: auto;
    }
    header ul li:first-child{
        border-bottom: 2px solid #000;
    }

    .voir-plus{
        outline: none;
        width: 100%;
        border-radius: 20px;
        background-image: url("img/chevron-down.svg") ;
        background-repeat: no-repeat;
        background-position: 20px;
        
    }

    /*for index page */
    .search-bar-accueil{
        width: auto;
    }
    
}